services:
  - type: web
    name: mobile-prog-backend
    env: node
    branch: main
    rootDirectory: .
    buildCommand: npm install
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
